@font-face{
    font-family: "Mission Gothic Bold";
    src: url('Mission Gothic Bold.otf');
  }
@font-face{
    font-family: "Mission Gothic Light";
    src: url('Mission Gothic Light.otf');
  }


body {
  text-align: left;
  margin: 0;
  font-family: "Mission Gothic Bold";
  background-color: lightgray;
}

.is-hidden { 
  opacity: 0 ;
  pointer-events:none;
 }
.username-input{
  width:15%;
  height:30px;
  background: white;
  border:none;
}

.username-form {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  padding: 20px;
  background-color: rgba(255,255,255,.8);
  box-shadow: 0 0 20px rgba(0,0,0,.125);

  transition: opacity .2s;
}

.username-form label {

  font-size: 31pt;
  margin-top: 20%;
  display: block;
  margin-bottom: 10px;
}
.submit-button{
  border-radius: 40px/30px;
  border:2px solid gray;
  background: none;

}
.shape-area{

  right:0;
  left:0;
  bottom:0;
  width: 100vw;
  height: 20%;
  background: white; 
  border:5px solid gray;
  position:fixed;
  overflow-x:scroll;
  overflow-y:hidden;
}
.shape-input {
  width:1400px;
  height:100%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y:hidden;
  overflow-x:scroll;
  background: white;
  display: flex;
}

.shape-options {
  display: flex;
  align-items: center;
}

.shape-options-label {
  padding: 5px;
}

.shape-option {
  width: 800px;
  height: 800px;
  transition: opacity .2s;
  margin:10px;
}

.shape-option:hover {
  opacity: .7;
  border: 3px solid white;
  animation:myfirst 5s linear infinite;
  -moz-animation:myfirst 5s linear infinite; 
  -webkit-animation:myfirst 5s linear infinite; 
  -o-animation:myfirst 5s linear infinite; 
}

@keyframes myfirst{
  0%,100%   {background:red;}
  25%  {background:yellow;}
  50%  {background:blue;}
  75% {background:green;}

}

@-webkit-keyframes myfirst {
  0%,100%   {background:red;}
  25%  {background:yellow;}
  50%  {background:blue;}
  75% {background:green;}
}


.option-0 {
  width: 90px;
  height:90px;
  background: white;
  border-radius: 50px;
  border:3px solid gray;
}
.option-1 {
  width: 40px;
  height:40px;
  background: none;
  border-radius: 50px;
  border:3px solid gray;
}
.option-2 {
  width: 50px;
  height:50px;
  background: none;
  border:3px solid gray;

}
.option-3 {
  width: 60px;
  height:100px;
  background: none;
  border:3px solid gray;
}
.option-4 {
  width: 130px;
  height:80px;
  border-radius: 100px/70px;
  border:3px solid gray;
}
.option-5 {
  width: 50px;
  height:50px;
  background: none;
  border:3px solid gray;
  transform:rotate(50deg);
}
.option-6 {
  width: 60px;
  height:100px;
  background: none;
  border:3px solid gray;
  border-radius: 20px;
}
.option-7 {
 margin:23px;
  width: 60px;
  height:100px;
  background: none;
  border:3px solid gray;
  transform: rotate(50deg);

}
.option-8 {
  margin:35px;
  width: 60px;
  height:100px;
  background: none;
  border:3px solid gray;
  transform: rotate(140deg);

}
.option-9 {
  margin:35px;
  width: 60px;
  height:120px;
  background: none;
  border:3px solid gray;
  transform: rotate(50deg);
}
.option-10 {
  width: 120px;
  height:60px;
  background: none;
  border:3px solid gray;

}
.option-0.message{
  width: 200px;
  height:200px;
  border-radius: 100px;
  margin-right: 0;
  margin-left:60px;
  margin-top: 20px;
  border:none;
}
.option-1.message{
  top:-100px;
  display: inline-block;
  position:relative;
  margin-top:-550px;
  margin-right:0;
  margin-left:80px;
  margin-bottom:0;
  border:none;
}

.option-2.message{
  position: relative;
  display: inline-block;
  margin-right: 0;
  top: -110px;
  margin-left: 10px;
  left:100px;
  border:none;
}
.option-3.message{
  display:inline-block;
  position: relative;
  left:60px;
  margin-left:20px;
  margin-top: -50px;

  border:none;
}
.option-4.message{
  position: relative;
  margin-left:90px;
  top: -110px;
  border:none;
}
.option-5.message{
 top:-100px;
  display: inline-block;
  position:relative;
  margin-top:-550px;
  margin-right:0;
  margin-left:80px;

  border:none;
}
.option-6.message{
  width: 160px;
  height:230px;
  margin-left:80px;
  border:none;
}
.option-7.message{
  margin-left:50px;
  margin-top: -90px;
  border:none;
}
.option-8.message{
  margin-left:190px;
  margin-top: -109px;
  border:none;
}
.option-9.message{

  position: relative;
  width: 70px;
  height:140px;
  margin-left:230px;
  margin-top: -200px;
  border:none;
}
.option-10.message{
  width:110px;
  height:40px;
  position: relative;
  margin-left:90px;
  top: -110px;
  border:none;
}
.message-container{
  background-color:lightgray;
  position:fixed;
  overflow:scroll;
  width:100%;
  top:0;
  left:25%;
  right:0;
  bottom:20%;
}

#oneout {
    position:fixed;
    top:40%;
    left:15px;
    -webkit-transition-duration:0.3s;-moz-transition-duration:0.3s;-o-transition-duration:0.3s;transition-duration:0.3s;
 }
 
#oneout_inner {
    font-family: "Mission Gothic Light";
    position:fixed;
    width:220px; height:90px;
    top:40%; 
    left:-250px;
    padding:5px;
    background:rgba( 255,255,255,.7);
    -webkit-transition-duration:0.3s;-moz-transition-duration:0.3s;-o-transition-duration:0.3s;transition-duration:0.3s;
    z-index:99999999; }
 
#oneout:hover {
    left:250px;
    z-index:99999999; 
}
 
#oneout:hover #oneout_inner {
    left:0px;
    z-index:99999999; 
 }
.onetitle {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    height: 80px;
    width: 40px;
    line-height: .198;
    position:absolute;
    left:-11px; top:3px;
    font-family:"Mission Gothic Bold"; font-size:16pt;   
    background: none;
    border: 3px solid gray; 

  }
  
.arrow-right {
  position: fixed;
  margin-top:20px;
  margin-left:50px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
   border-left: 10px solid gray;

   -webkit-transition-duration:0.3s;-moz-transition-duration:0.3s;-o-transition-duration:0.3s;transition-duration:0.3s;
}

  
