body{
  margin:0;
  background-color: lightgray;
}
.is-hidden {
  opacity: 0 !important;
}

.username-form{
  background-color: rgba(255,255,255,.8);
  z-index: 2;
  top:0;
  left:0;
  width: 100vw;
  height:100pvh;
  position: fixed;
box-shadow: 0 0 20px rgba(0,0,0,.125);
  transition: opacity .2s;
}

.username-form label{
  display: block;
  margin-bottom: 10px;
}

.shape-area{
  right:0;
  left:0;
  bottom:0;
  width: 100%;
  height: 30%;
  background: white; 
  border:5px solid gray;
  position:fixed;
  overflow-x:scroll;



}
.shape-input {
 /* position: absolute;*/

  right:0;
  left:0;
  bottom:0;
  width:1300px;
  height:100%;
  background: white;
  display:flex;
  overflow-x:scroll;
  overflow-y:hidden;


/*  box-shadow: 3px 2px 2px black;
*//*  display:inline-block;*/
 /* flex-direction: row;*/
}

.shape-input-option {
 display:flex;
  width: 600px;
  height: 600px;
/*  background: red;*/
}

.option-0 {
  width: 100px;
  height:100px;
  background: black;
  border-radius: 50px;
}
.option-1 {
  width: 20px;
  height:20px;
  background: red;
  border-radius: 50px;
}
.option-2 {
  width: 50px;
  height:50px;
  background: pink;
}
.option-3 {
  width: 60px;
  height:100px;
  background: blue;
 

}
.option-4 {
  width: 80px;
  height:50px;
  background: black;
  border-radius: 100px/30px;


}
.option-5 {
  width: 0;
  height:0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid orange;
 

}

.option-6 {
  width: 0;
  height:0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 60px solid aqua;
}

.option-7 {
  width: 100px;
  height:0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 60px solid green;
}

.option-8 {
  width: 100px;
  height:0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 60px solid purple;
}

///////////


.option-9 {
  width: 100px;
  height:0;
  border-left: 40px solid transparent;
  border-bottom: 60px solid pink;
}

.option-10 {
  width: 100px;
  height:0;
  border-left: 40px solid transparent;
  border-bottom: 60px solid purple;
}

.option-11 {
  width: 100px;
  height:0;
  border-right: 40px solid transparent;
  border-bottom: 60px solid lightgreen;
}
.option-12 {
  width: 100px;
  height:0;
  border-right: 40px solid transparent;
  border-bottom: 60px solid lightblue;
}


.option-0.message{
  display: inline-block;
  margin-right: 0;
  margin-left: 20px
}
.option-1.message{
  margin-right: 0;
  margin-left: 90px
}
.option-2.message{
  margin-right: 0;
  margin-left: 100px;
  margin-top:-30px;
}
.option-3.message{
  margin-left:140px;
  margin-top: 100px;
}
.option-4.message{
  margin-left:190px;
  margin-top: 0px;
}
.option-5.message{
  margin-left:190px;
  margin-top: 0px;
}
.option-6.message{
  margin-left:20px;
  /*margin-top: 90px;*/
}
.option-7.message{
  margin-left:50px;
  margin-top: 40px;
}
.option-8.message{
  margin-left:60px;
  margin-top: 10px;
}
.option-9.message{
  margin-left:100px;
  margin-top: -30px;
}
.option-10.message{
  margin-left:60px;
  margin-top: -90px;
}
.option-11.message{
  margin-left:130px;
  margin-top: 50px;
}
.option-12.message{
  margin-left:130px;
  margin-top: 60px;
}
.message-container{
  background-color: lightgray;
  position: fixed;
  overflow: scroll;
  width:100%;
  top:0;
  left:25%;
  right:0;
  bottom:30%;

}

/*.message.from-current-user.option-0 {
  margin-right: 1700px;
}*/